* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #b8cb85;
}

.menu-icon {
    font-size: 24px;
    align-self: flex-start;
    margin-bottom: 20px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: #6c6c6c;
    margin-top: 20px;
}

.content {
    flex-grow: 1;
    margin-left: 20px;
    padding: 20px;
}

.content h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    margin-left: 250px;
}

.items-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.item-card {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.item-card img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.item-info {
    flex-grow: 1;
}

.item-name, .item-partner, .item-points {
    margin: 5px 0;
    color: #333;
}

.more-btn, .buy-btn {
    padding: 5px 10px;
    margin: 5px 5px 0 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.more-btn {
    background-color: #c2c2c2;
    color: #333;
}

.buy-btn {
    background-color: #92b24b;
    color: white;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #e0e0e0;
    cursor: pointer;
    margin: 0 5px;
}
.error-message {
    color: #f00; /* Червоний колір для повідомлень про помилки */
    margin-bottom: 10px;
    font-size: 14px; /* Зробити текст трохи меншим */
}

.message-area {
    margin-top: 10px; /* Відстань між формою і повідомленнями */
}
