.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #8EA553;
    color: white;
    transition: left 0.3s ease;
    padding-top: 50px;
    z-index: 1;
}

.sidebar.open {
    left: 0; 
}

.sidebar a {
    padding: 75px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    font-weight: bold;
    align-items: center;
}

.sidebar a:hover {
    background-color: #7f8d4a;
}

.open-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 1;
}

.open-btn div {
    width: 30px;
    height: 3px;
    background-color: black;
}
.panel-footer {
    text-align: center; 
    padding: 10px; 
}

#bloom-text {
    font-size: 1.8em; 
    font-weight: bold; 
    color: black; 
    margin: 0; 
}

.sidebar-tooltip {
    text-align: left;
    position: fixed;
    display: inline-block;
    cursor: pointer;
    color: #f44336;
}

.sidebar-tooltip .sidebar-tooltiptext {
    visibility: hidden;
    width: 800px; 
    background-color: #333;
    color: #fff;
    text-align: left;
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 400px; 
    transform: translateX(-50%); 
    opacity: 0;
    transition: opacity 0.3s;
}

.sidebar-tooltip:hover .sidebar-tooltiptext {
    visibility: visible;
    opacity: 1;
}
