body {
    background-color: #B8CB85;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.task {
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}

h2 {
    font-size: 100px;
    color: #8EA553;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 24px;
    margin-left: 25px;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0e0e0;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 10px;
    width: 600px;
}

.task-text {
    flex-grow: 1;
    margin-right: 10px;
    white-space: normal;
    word-break: break-word;
}

button {
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.complete-btn {
    background-color: #4caf50;
}

.user-level {
    display: flex;
    background-color: #b8cb85;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    color: #333;
    font-weight: bold;
    margin-top: 10px;
    width: 200px;
    justify-content: center; 
    align-items: center;
    height: 25px; 
    margin-left: auto; 
    margin-right: auto;
}

.task-item {
    transition: background-color 0.3s;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.completed-task {
    background-color: #d4edda;
    border: 2px solid #c3e6cb;
}

.user-level {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 15px;
}

.tooltip {
    text-align: left;
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #f44336;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 800px; 
    background-color: #333;
    color: #fff;
    text-align: left;
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    z-index: 400;
    bottom: -400%; 
    left: 50%; 
    transform: translateX(-50%); 
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
