<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloom</title>
    <link rel="stylesheet" href= "{% static 'home/css/homepagestyle.css' %}">
</head>
<body>
    <div class="container">
        <h1>BLOOM</h1>
        <label>
            <input type="text" value="gnlrglgbs;bs;ns[;skng; skn;eppvib" readonly>
        </label>
        <div class="button-container">
            <a href="#" class="btn">
               <button>Sign up</button>
            </a>
            <a href="{% url 'login' %}" class="btn">
                <button>Log in</button>
            </a>
         </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="../../static/home/js/bootstrap.bundle.min.js"></script>
</body>
</html>