<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloom</title>
    <link rel="stylesheet" href= "{% static 'home/css/homepagestyle.css' %}">
</head>
<body>
    <div class="container">
        <h1>BLOOM</h1>
        <textarea id="textbox" readonly>Твоя подорож до зеленого майбутнього починається тут. 
Приєднуйся, щоб творити зміни з натхненням.</textarea>
        <div class="button-container">
            <a href="{% url 'sign_up' %}" class="btn">
               <button>Зареєструватися</button>
            </a>
            <a href="{% url 'login' %}" class="btn">
                <button>Увійти</button>
            </a>
        </div>
    </div>
</body>
</html>