<script>
    function toggleMenu() {
        const sidebar = document.getElementById('sidebar');
        sidebar.classList.toggle('open');
    }
</script>

<div class="sidebar" id="sidebar">
    <a href="{% url 'info' %}">Про нас</a>
    <a href="{% url 'partner_list' %}">Партнери</a>
    <a href="{% url 'statistics' %}">Статистика</a>
    <div class="item-card">
        <div class="panel-footer">
            <p class="bloom-text">Bloom</p>
        </div>
    </div>
    
</div>

<button class="open-btn" onclick="toggleMenu()">
    <div></div>
    <div></div>
    <div></div>
</button>
