<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloom - Leaderboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'statistics/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'profile_btn.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Odor+Mean+Chey&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'sidebar.html' %}
    {% include 'profile_btn.html' %}
    
    <div class="background-square"></div>
    <h1 class="leaderboard-text">Рейтинг</h1>
    <img src="{% static 'images/winphoto.png' %}" alt="Win Photo" id="cup">
    <div class="description">
        Перегляньте топ-5 користувачів, які досягли найбільших результатів!
        Оцініть свої досягнення та змагайтеся за місце серед лідерів.
    </div>
    <div class="leaderboard">
        {% if top_users %}
            {% for user in top_users %}
                <div class="leaderboard-item">
                    <p class="leaderboard-username">{{ user.user.username }}</p>
                    <div class="level-circle">{{ user.level }}</div>
                    <div class="points-circle">{{ user.completed_tasks_count }}</div>
                </div>
            {% endfor %}
        {% else %}
            <div class="leaderboard-item">
                <p>Немає доступних користувачів.</p>
            </div>
        {% endif %}
    </div>
    </div>
    
    <div class="text-container">
        <div class="text-item">
            <span>Рівень</span>
        </div> 
        <div class="text-item">
            <span>Кількість виконаних завдань</span>
        </div>
    </div>
</body>
</html>
