<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloom - Info</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'info/css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sidebar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'profile_btn.css' %}">
</head>
<body>
    {% include 'sidebar.html' %}
    {% include 'profile_btn.html' %}
    <div class="container">    
        <div class="main-content">
            <div class="top-bar">
                <div class="action-btn">
                    <div class="split-text">
                        <span class="paper-text">папір</span>
                        <div class="divider"></div>
                        <span class="plastic-text">пластик</span>
                    </div>
                </div>
                <button class="action-btn">Як сортувати?</button>
                <button class="action-btn wide">...</button>
                <button class="action-btn wide">...</button>
            </div>

            
            <div class="content-area">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
