<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloom - Info</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'info/css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sidebar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'profile_btn.css' %}">
</head>
<body>
    {% include 'sidebar.html' %}
    {% include 'profile_btn.html' %}
    <div class="container">
        <div class="main-content">
            <div class="top-bar">
                <!-- Замінили <a> на <button>, щоб текст не виглядав як гіперпосилання -->
                <button onclick="location.href='{% url 'info' %}?question=1'" class="action-btn button">Яке пакування обрати?</button>
                <button onclick="location.href='{% url 'info' %}?question=2'" class="action-btn button">Як сортувати?</button>
                <button onclick="location.href='{% url 'info' %}?question=3'" class="action-btn button">Чи можна це переробити?</button>
                <button onclick="location.href='{% url 'info' %}?question=4'" class="action-btn button">Поради з повторного використання</button>
            </div>

            <div class="content-area">
                {% block content %}
                {% if selected_content %}
                    <h1>{{ selected_content.title }}</h1>
                    <div>{{ selected_content.text|safe }}</div> <!-- Вивід тексту із HTML вмістом -->
                {% else %}
                    <!-- Дефолтний текст, якщо питання не вибрано -->
                    <h1>Ласкаво просимо на інформаційну сторінку</h1>
                    <p>Оберіть питання, щоб побачити відповідну інформацію.</p>
                {% endif %}
                {% endblock %}
            </div> 
        </div>
    </div>
</body>
</html>
