<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance Page</title>
    <link rel="stylesheet" href="{% static 'partners/css/index.css' %}">
    <link rel="stylesheet" href= "{% static 'sidebar.css' %}">
    <link rel="stylesheet" href= "{% static 'profile_btn.css' %}">
</head>
<body>
    {% include 'sidebar.html' %}
    {% include 'profile_btn.html' %}
    <div class="content">
        <h1>Your balance: {{ user_balance }}</h1>
        <div class="items-grid">
            {% for partner in page_obj %}
                <div class="item-card">
                    <img src="{{ partner.image.url }}" alt="{{ partner.name }}"> <!-- Замініть на правильний шлях до зображення -->
                    <div class="item-info">
                        <p class="item-name">{{ partner.name }}</p>
                        <p class="item-partner">{{ partner.description }}</p>
                        <p class="item-points">{{ partner.points_required }} points</p>
                        <button class="more-btn">more</button>
                        <button class="buy-btn">Buy</button>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</body>
</html>
