<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance Page</title>
    <link rel="stylesheet" href= "{% static 'partners/css/pop_up.css' %}">
    <link rel="stylesheet" href="{% static 'partners/css/index.css' %}">
    <link rel="stylesheet" href= "{% static 'sidebar.css' %}">
    <link rel="stylesheet" href= "{% static 'profile_btn.css' %}">
</head>
<body>
    {% include 'sidebar.html' %}
    {% include 'profile_btn.html' %}

    <div id="popup-message" class="popup-message"></div>

    <div class="content">
        <h1>Ваш баланс: {{ user_balance }}</h1>
        <div class="items-grid">
            {% for partner_status in page_obj %}
                <div class="item-card">
                    <img src="{{ partner_status.partner.image.url }}" alt="{{ partner_status.partner.name }}">
                    <div class="item-info">
                        <p class="item-name">{{ partner_status.partner.name }}</p>
                        <p class="item-partner">{{ partner_status.partner.description }}</p>
                        <p class="item-points">{{ partner_status.partner.points_required }} бонусів</p>
                        <form method="post" action="{% url 'redeem' partner_status.id %}">
                            {% csrf_token %}
                            <button type="button"
                            onclick="confirmRedeeming(this.form)"
                            class="buy-btn" 
                            {% if partner_status.status == 'redeemed' %}disabled{% endif %}>
                            Отримати
                            </button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; перша</a>
                    <a href="?page={{ page_obj.previous_page_number }}">попередня</a>
                {% endif %}

                <span class="current">
                    Сторінка {{ page_obj.number }} з {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">наступна</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">остання &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const messages = [
                {% for message in messages %}
                    {
                        text: "{{ message }}",
                        tags: "{{ message.tags }}"
                    },
                {% endfor %}
            ];

            if (messages.length > 0) {
                const popupMessage = document.getElementById('popup-message');
                messages.forEach(message => {
                    popupMessage.textContent = message.text;
                    popupMessage.classList.add(message.tags);
                    popupMessage.style.display = 'block';
                    setTimeout(() => {
                        popupMessage.style.display = 'none';
                    }, 5000);
                });
            }
        });
        function confirmRedeeming(form) {
            if (confirm("Ви впевнені у своєму виборі?")) {
                form.submit();
            }
        }
    </script>
</body>
</html>
